$hover-bg: #f5f6f6;
$brand-color: #37a0ff;
$border-color: #eeeeee;

@keyframes translate {
  0% {
    z-index: -1;
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    z-index: 1;
    transform: translateY(0);
    opacity: 1;
  }
}

:local(.dropdown) {
  --dropdown-hover-bg: #{$hover-bg};
  --dropdown-border-color: #{$border-color};
  --dropdown-brand-color: #{$brand-color};
  @apply relative text-sm mr-[50px] md:mr-auto;
  :global(.trigger) {
    @apply cursor-pointer py-1 px-2 rounded-full text-base font-medium;
    &:hover {
      background-color: var(--dropdown-hover-bg);
    }
  }
  :global(.content) {
    @apply hidden absolute right-0 bg-white rounded w-[140px] shadow-md border border-solid border-gray-200;

    top: calc(100% + 4px);
    animation: translate 0.15s;
    &:global(.content-visible) {
      @apply block;
    }
  }
  :global(.dropdown-menu__item) {
    @apply p-2 cursor-pointer;
    &:hover {
      @apply bg-gray-100;
    }
    &:global(.dropdown-menu__item--selected) {
      color: var(--dropdown-brand-color);
    }
  }
}
