openapi: 3.0.3
info:
  title: Longbridge OpenAPI
  description: |
    Longbridge OpenAPI provides programmatic access to market data, trading, account management,
    watchlist management, and content queries for the Longbridge trading platform.
  version: '1.0.0'
servers:
  - url: https://openapi.longbridge.com
    description: Global
  - url: https://openapi.longbridge.cn
    description: China mainland
tags:
  - name: Watchlist Management
    x-name-zh: 自选股管理
    description: Manage user watchlist groups (list/create/update/delete) and query the securities contained in each group. Supports adding, removing, or replacing securities within a group.
  - name: Market Temperature
    x-name-zh: 市场情绪
    description: Query the Market Temperature indicator (a fear-gauge-like sentiment thermometer, scored 0–100 where higher means more bullish) across equity markets. Supports fetching the current snapshot and historical time series for sentiment measurement, trend visualization, and comparative analysis.
  - name: Portfolio & Cash
    x-name-zh: 持仓与资金
    description: Provides read access to account asset and cash information, including fund holdings, stock holdings, account cash balance, and cash flow history for portfolio overview, position display, and reconciliation analysis.
  - name: News & Filings
    x-name-zh: 新闻与公告
    description: Query regulatory filings, news articles, and community discussion topics for a given symbol. Suitable for investment research, news monitoring, and content aggregation.
  - name: Community
    x-name-zh: 社区互动
    description: Interact with the Longbridge community. Supports listing your published topics with pagination and type filtering, and creating new topics (long-form articles or short posts) with associated tickers, hashtags, and license settings.
  - name: Trade Execution & Order Management
    x-name-zh: 交易与订单管理
    description: Full order lifecycle management including order detail queries, today's and historical order queries, today's and historical execution reports, order modification, order cancellation, and pre-order maximum purchasable quantity estimation.
security:
  - oauth2:
      - openapi
paths:
  /watchlist/groups:
    get:
      operationId: list_watchlist_groups
      summary: Get Watchlists
      x-summary-zh: 获取自选股分组列表
      description: |
        Get all watchlist groups for the current user. Each group contains an ID, name, and a list
        of securities with the price and timestamp at which each security was added.
      x-description-zh: 获取当前用户的所有自选股分组，每个分组包含 ID、名称及其中的证券列表（含加入价格和时间戳）。
      tags:
        - Watchlist Management
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge watchlist
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  groups:
                    - id: '2630'
                      name: My Watchlist
                      securities:
                        - symbol: AAPL.US
                          market: US
                          name: Apple Inc.
                          watched_price: '211.59'
                          watched_at: '1741690995'
                        - symbol: 700.HK
                          market: HK
                          name: 腾讯控股
                          watched_price: '460.00'
                          watched_at: '1725511157'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: create_watchlist_group
      summary: Create Watchlist
      x-summary-zh: 创建自选股分组
      description: |
        Create a new watchlist group, optionally pre-populated with securities.
      x-description-zh: 创建新的自选股分组，可选择在创建时预填充证券。
      tags:
        - Watchlist Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  minLength: 1
                  description: Group name. Must be at least 1 character and within the system name length limit.
                securities:
                  type: array
                  nullable: true
                  description: Optional list of security symbols to pre-populate the group on creation (e.g. `["AAPL.US", "700.HK"]`).
                  items:
                    type: string
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge watchlist create "NAME"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  id: '4303353'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: update_watchlist_group
      summary: Update Watchlist
      x-summary-zh: 更新自选股分组
      description: |
        Update the name or member list of a watchlist group. Use `mode` to control how
        `securities` are applied: `add` appends, `remove` removes, `replace` overwrites the entire list.
      x-description-zh: 更新自选股分组的名称或成员列表。使用 `mode` 控制 `securities` 的操作方式：`add` 追加、`remove` 移除、`replace` 替换全部。
      tags:
        - Watchlist Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
              properties:
                id:
                  type: string
                  description: ID of the group to update (required).
                name:
                  type: string
                  nullable: true
                  description: New group name. Omit to keep the existing name.
                mode:
                  type: string
                  nullable: true
                  enum:
                    - add
                    - remove
                    - replace
                  description: |
                    Operation mode for the `securities` list. One of:
                    - `add` — append securities to the group
                    - `remove` — remove securities from the group
                    - `replace` — replace all securities in the group
                securities:
                  type: array
                  nullable: true
                  description: List of security symbols affected by the operation (e.g. `["AAPL.US", "700.HK"]`).
                  items:
                    type: string
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge watchlist update <ID>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: delete_watchlist_group
      summary: Delete Watchlist
      x-summary-zh: 删除自选股分组
      description: |
        Delete the specified watchlist group. Set `purge=true` to also clear all securities
        from the group before deletion.
      x-description-zh: 删除指定的自选股分组。设置 `purge=true` 可在删除前清空分组中的所有证券。
      tags:
        - Watchlist Management
      parameters:
        - name: id
          in: query
          required: true
          description: ID of the group to delete.
          schema:
            type: string
        - name: purge
          in: query
          required: false
          description: If `true`, clears all securities from the group before deleting. Defaults to `false`.
          schema:
            type: boolean
            nullable: true
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge watchlist delete <ID>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /quote/get_security_list:
    get:
      operationId: list_securities
      summary: Query Tradable Securities List
      x-summary-zh: 查询可交易证券列表
      description: |
        Query the list of tradable securities filtered by market and category. Primarily used to
        retrieve securities eligible for extended-hours (pre-market / after-hours) trading sessions.
        Both `market` and `category` are required parameters.
      x-description-zh: 按市场和类别筛选可交易证券列表，主要用于获取符合盘前/盘后延长交易时段条件的证券。`market` 和 `category` 均为必填参数。
      tags:
        - Watchlist Management
      parameters:
        - name: market
          in: query
          required: true
          description: Market code. One of `US`, `HK`.
          schema:
            type: string
        - name: category
          in: query
          required: true
          description: Security category filter for the target trading session (e.g. `overnight` for US overnight-tradable securities).
          schema:
            type: string
            nullable: true
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge security-list
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  list:
                    - symbol: AAPL.US
                      name_cn: 苹果
                      name_hk: 蘋果
                      name_en: Apple Inc.
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /quote/history_market_temperature:
    get:
      operationId: list_market_temperature
      summary: Get Historical Market Temperature
      x-summary-zh: 获取历史市场情绪
      description: |
        Get the historical market temperature time series for the specified market within a date range.
        Each data point contains the daily temperature, valuation, and sentiment scores (all scored 0–100).
      x-description-zh: 获取指定市场在日期范围内的历史市场情绪时间序列，每个数据点包含当日情绪温度、估值和情绪分项评分（均为 0–100 分制）。
      tags:
        - Market Temperature
      parameters:
        - name: market
          in: query
          required: true
          description: |
            Market code. One of:
            - `HK` — Hong Kong
            - `US` — United States
            - `CN` — A-shares
            - `SG` — Singapore
          schema:
            type: string
        - name: start_date
          in: query
          required: true
          description: Start date in `YYYYMMDD` format (e.g. `20250101`).
          schema:
            type: string
        - name: end_date
          in: query
          required: true
          description: End date in `YYYYMMDD` format (e.g. `20250110`).
          schema:
            type: string
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge market-temp [MARKET] --history --start YYYY-MM-DD --end YYYY-MM-DD
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  list:
                    - timestamp: '1735794000'
                      temperature: 58
                      valuation: 54
                      sentiment: 61
                    - timestamp: '1735880400'
                      temperature: 59
                      valuation: 56
                      sentiment: 63
                  type: day
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /quote/market_temperature:
    get:
      operationId: market_temperature
      summary: Get Current Market Temperature
      x-summary-zh: 获取当前市场情绪
      description: |
        Get the current sentiment temperature snapshot for the specified market.
        Scores range from 0–100; a higher value indicates a more bullish market.
      x-description-zh: 获取指定市场的当前情绪温度快照。评分范围 0–100，数值越高表示市场越乐观。
      tags:
        - Market Temperature
      parameters:
        - name: market
          in: query
          required: true
          description: |
            Market code. One of:
            - `HK` — Hong Kong
            - `US` — United States
            - `CN` — A-shares
            - `SG` — Singapore
          schema:
            type: string
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge market-temp [MARKET]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  temperature: 70
                  description: 温度温暖并快速上升中
                  valuation: 59
                  sentiment: 82
                  updated_at: '1774317902'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /asset/cashflow:
    get:
      operationId: list_cash_flow
      summary: Cash Flow
      x-summary-zh: 资金流水查询
      description: |
        Query account cash flow history. Covers deposit, withdrawal, dividends, settlement,
        and other business types. Supports time range and pagination.
      x-description-zh: 查询账户资金流水历史，涵盖入金、出金、分红、结算等业务类型，支持时间范围筛选和分页。
      tags:
        - Portfolio & Cash
      parameters:
        - name: start_time
          in: query
          required: false
          description: Query range start time as a Unix timestamp (seconds).
          schema:
            type: integer
            nullable: true
        - name: end_time
          in: query
          required: false
          description: Query range end time as a Unix timestamp (seconds).
          schema:
            type: integer
            nullable: true
        - name: business_type
          in: query
          required: false
          description: Business type filter (integer). Omit to return all types.
          schema:
            type: integer
            nullable: true
        - name: symbol
          in: query
          required: false
          description: Filter by security symbol (e.g. `AAPL.US`). Supports multiple values.
          schema:
            type: array
            nullable: true
            items:
              type: string
        - name: page
          in: query
          required: false
          description: Page number (1-based). Defaults to `1`.
          schema:
            type: integer
            nullable: true
        - name: size
          in: query
          required: false
          description: Number of records per page. Defaults to `20`.
          schema:
            type: integer
            nullable: true
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge cash-flow
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  list:
                    - transaction_flow_name: 在途分红
                      direction: 1
                      business_type: 0
                      balance: '13.65'
                      currency: USD
                      business_time: '1771826509'
                      symbol: MSFT.US
                      description: 'MSFT.US Cash Dividend: 0.91 USD per share(in transit)'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /asset/account:
    get:
      operationId: account_cash
      summary: Account Cash
      x-summary-zh: 账户现金
      description: |
        Query account cash balance, buying power, margin details, and per-currency cash breakdown.
      x-description-zh: 查询账户现金余额、购买力、保证金详情及各币种资金明细。
      tags:
        - Portfolio & Cash
      parameters:
        - name: currency
          in: query
          required: false
          description: Filter by currency code (e.g. `USD`, `HKD`). Omit to return all currencies.
          schema:
            type: string
            nullable: true
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge balance
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  list:
                    - total_cash: '456943.18'
                      max_finance_amount: '3200000.00'
                      remaining_finance_amount: '3654289.90'
                      risk_level: '0'
                      margin_call: '0'
                      currency: HKD
                      net_assets: '962678.11'
                      init_margin: '141090.88'
                      maintenance_margin: '123141.91'
                      buy_power: '821587.22'
                      frozen_transaction_fees: []
                      cash_infos:
                        - currency: USD
                          withdraw_cash: '-38665.68'
                          available_cash: '-38665.68'
                          frozen_cash: '332.19'
                          settling_cash: '-10108.02'
                          redemption_cash: '0.00'
                        - currency: HKD
                          withdraw_cash: '755592.21'
                          available_cash: '755592.21'
                          frozen_cash: '64.69'
                          settling_cash: '-27760.00'
                          redemption_cash: '0.00'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /asset/stock:
    get:
      operationId: list_stock_positions
      summary: Stock Position
      x-summary-zh: 股票持仓
      description: |
        Query all stock (equity) positions, grouped by sub-account channel.
      x-description-zh: 查询所有股票（权益类）持仓，按子账户渠道分组返回。
      tags:
        - Portfolio & Cash
      parameters:
        - name: symbol
          in: query
          required: false
          description: Filter by security symbol (e.g. `AAPL.US`). Supports multiple values. Omit to return all positions.
          schema:
            type: array
            nullable: true
            items:
              type: string
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge positions
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  list:
                    - account_channel: lb_papertrading
                      stock_info:
                        - symbol: NVDA.US
                          symbol_name: 英伟达
                          currency: USD
                          quantity: '101'
                          available_quantity: '101'
                          cost_price: '50.229'
                          market: US
                          init_quantity: '101'
                        - symbol: AAPL.US
                          symbol_name: 苹果
                          currency: USD
                          quantity: '133'
                          available_quantity: '133'
                          cost_price: '211.589'
                          market: US
                          init_quantity: '133'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /asset/fund:
    get:
      operationId: list_fund_positions
      summary: Fund Position
      x-summary-zh: 基金持仓
      description: |
        Query all public fund positions, grouped by sub-account channel.
      x-description-zh: 查询所有公募基金持仓，按子账户渠道分组返回。
      tags:
        - Portfolio & Cash
      parameters:
        - name: symbol
          in: query
          required: false
          description: Filter by fund symbol. Supports multiple values. Omit to return all fund positions.
          schema:
            type: array
            nullable: true
            items:
              type: string
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge fund-positions
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  list:
                    - fund_info:
                        - symbol: HK0000676533
                          symbol_name: 某只基金
                          holding_units: '1000.00'
                          current_net_asset_value: '1.2345'
                          cost_net_asset_value: '1.1000'
                          net_asset_value_day: '1774310400'
                          currency: HKD
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /quote/filings:
    get:
      operationId: list_filings
      summary: Get Filings by Symbol
      x-summary-zh: 获取标的监管文件
      description: |
        Get the list of regulatory filings or disclosure documents for the specified symbol.
        Each filing includes a title, file name, download URLs, and publication timestamp.
      x-description-zh: 获取指定标的的监管文件或信息披露文件列表，每条记录包含标题、文件名、下载链接和发布时间戳。
      tags:
        - News & Filings
      parameters:
        - name: symbol
          in: query
          required: true
          description: 'Security symbol to query filings for (e.g. `AAPL.US`, `700.HK`).'
          schema:
            type: string
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge filings <SYMBOL>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  items:
                    - id: '627391979864985729'
                      title: 苹果 | 4 - Apple Inc. (0000320193) (Issuer)
                      description: ''
                      file_name: 4 - Apple Inc. (0000320193) (Issuer)
                      file_urls:
                        - https://www.sec.gov/Archives/edgar/data/320193/.../wk-form4_1773786674.xml
                      publish_at: '1773786677'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /content/{symbol}/news:
    get:
      operationId: list_news
      summary: Get News by Symbol
      x-summary-zh: 获取标的新闻
      description: |
        Get the latest news articles for the specified symbol.
      x-description-zh: 获取指定标的的最新新闻资讯列表。
      tags:
        - News & Filings
      parameters:
        - name: symbol
          in: path
          required: true
          description: 'Security symbol to query news for (e.g. `AAPL.US`, `700.HK`).'
          schema:
            type: string
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge news <SYMBOL>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  items:
                    - id: '280228333'
                      title: 苹果拟在地图应用引入广告
                      description: 苹果计划在其地图应用中引入广告，以推动服务业务增长...
                      url: https://longbridge.com/news/280228333
                      published_at: '1774310775'
                      comments_count: 0
                      likes_count: 0
                      shares_count: 0
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /content/{symbol}/topics:
    get:
      operationId: list_topics
      summary: Get Community Topics by Symbol
      x-summary-zh: 按标的获取社区讨论
      description: |
        Get the list of community discussion topics for the specified symbol.
      x-description-zh: 获取指定标的的社区讨论。
      tags:
        - News & Filings
      parameters:
        - name: symbol
          in: path
          required: true
          description: 'Security symbol to query topics for (e.g. `AAPL.US`, `700.HK`).'
          schema:
            type: string
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge topics <SYMBOL>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  items:
                    - id: '39469738'
                      title: ''
                      description: 期待苹果的 AI。我相信在用户端侧，苹果能把 AI 做得很好。
                      url: https://longbridge.com/topics/39469738
                      published_at: '1774325592'
                      comments_count: 0
                      likes_count: 0
                      shares_count: 0
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /content/topics/mine:
    get:
      operationId: list_my_topics
      summary: Get My Topic List
      x-summary-zh: 获取我的发布的讨论
      description: |
        Get the list of topics published by the current authenticated user.
        Supports pagination and filtering by topic type.
      x-description-zh: 获取当前认证用户已发布的讨论列表，支持分页和按讨论类型筛选。
      tags:
        - Community
      parameters:
        - name: page
          in: query
          required: false
          description: Page number (1-based). Defaults to `1`.
          schema:
            type: integer
            nullable: true
        - name: size
          in: query
          required: false
          description: Number of items per page, range 1–50. Defaults to `25`.
          schema:
            type: integer
            nullable: true
        - name: topic_type
          in: query
          required: false
          description: |
            Filter by topic type. One of:
            - `article` — long-form article (has title)
            - `post` — short post

            Omit to return all types.
          schema:
            type: string
            nullable: true
            enum:
              - article
              - post
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  items:
                    - id: '39304657'
                      title: My Analysis on AAPL
                      description: A brief summary of my article...
                      body: Full markdown content here...
                      topic_type: article
                      likes_count: 12
                      comments_count: 3
                      views_count: 200
                      shares_count: 1
                      tickers:
                        - AAPL.US
                      hashtags:
                        - earnings
                      license: 1
                      detail_url: https://longbridge.com/topics/39304657
                      created_at: '1742000000'
                      updated_at: '1742000000'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /content/topics:
    post:
      operationId: create_topic
      summary: Create Topic
      x-summary-zh: 创建社区讨论
      description: |
        Create a new community topic (long-form article or short post).
      x-description-zh: 创建新的社区讨论（长文或短帖）。
      tags:
        - Community
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - body
              properties:
                title:
                  type: string
                  description: Topic title (required).
                body:
                  type: string
                  description: Topic body in Markdown format (required).
                topic_type:
                  type: string
                  nullable: true
                  enum:
                    - article
                    - post
                  description: |
                    Topic type. One of:
                    - `article` — long-form article with a title
                    - `post` — short post (default)
                tickers:
                  type: array
                  nullable: true
                  description: 'Associated security symbols, format `{symbol}.{market}` (e.g. `["AAPL.US", "700.HK"]`). Maximum 10.'
                  items:
                    type: string
                hashtags:
                  type: array
                  nullable: true
                  description: Associated hashtag names (e.g. `["earnings", "fed"]`). Maximum 5.
                  items:
                    type: string
                license:
                  type: integer
                  nullable: true
                  description: Copyright declaration. `0` = none (default), `1` = original, `2` = non-original.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  id: '39304657'
                  title: My View on AAPL
                  topic_type: article
                  tickers:
                    - AAPL.US
                  hashtags:
                    - earnings
                  created_at: '1742000000'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trade/execution/history:
    get:
      operationId: list_history_executions
      summary: Historical Execution
      x-summary-zh: 历史成交查询
      description: |
        Query historical execution (fill) records. Supports filtering by time range, order ID,
        and symbol, with pagination.
      x-description-zh: 查询历史成交（成交明细）记录，支持按时间范围、订单 ID 和标的筛选，并支持分页。
      tags:
        - Trade Execution & Order Management
      parameters:
        - name: start_at
          in: query
          required: false
          description: Query range start time as a Unix timestamp (seconds).
          schema:
            type: integer
            nullable: true
        - name: end_at
          in: query
          required: false
          description: Query range end time as a Unix timestamp (seconds).
          schema:
            type: integer
            nullable: true
        - name: order_id
          in: query
          required: false
          description: Filter by order ID.
          schema:
            type: string
            nullable: true
        - name: symbol
          in: query
          required: false
          description: 'Filter by security symbol (e.g. `NVDA.US`).'
          schema:
            type: string
            nullable: true
            maxLength: 32
            minLength: 4
            pattern: '^([\w.]*\.[A-Za-z][A-Za-z])$'
        - name: page
          in: query
          required: false
          description: Page number (1-based).
          schema:
            type: integer
            nullable: true
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge executions --history
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  trades:
                    - trade_id: '218942971868942337'
                      order_id: '218942971868942336'
                      symbol: NVDA.US
                      price: '177.50'
                      quantity: '10'
                      trade_done_at: '1774330500'
                  has_more: false
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trade/order:
    get:
      operationId: order_detail
      summary: Order Detail
      x-summary-zh: 订单详情查询
      description: |
        Query full details of a single order by order ID, including fee breakdown and status history.
      x-description-zh: 通过订单 ID 查询单笔订单的完整详情，包括费用明细和状态变更历史。
      tags:
        - Trade Execution & Order Management
      parameters:
        - name: order_id
          in: query
          required: true
          description: Order ID to query.
          schema:
            type: string
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge order <ORDER_ID>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  order_id: '1220968184320942080'
                  status: CanceledStatus
                  stock_name: 英伟达
                  quantity: '10'
                  executed_quantity: '0'
                  price: ''
                  executed_price: '0'
                  submitted_at: '1774330299'
                  side: Buy
                  symbol: NVDA.US
                  order_type: MIT
                  last_done: ''
                  trigger_price: '177.88'
                  msg: ''
                  tag: Normal
                  time_in_force: Day
                  expire_date: '2026-03-24'
                  updated_at: '1774330401'
                  trigger_at: '0'
                  trailing_amount: ''
                  trailing_percent: ''
                  limit_offset: ''
                  trigger_status: DEACTIVE
                  outside_rth: RTH_ONLY
                  currency: USD
                  remark: ''
                  limit_depth_level: 0
                  trigger_count: 0
                  monitor_price: ''
                  free_status: None
                  free_amount: ''
                  free_currency: ''
                  deductions_status: NONE
                  deductions_amount: ''
                  deductions_currency: ''
                  platform_deducted_status: NONE
                  platform_deducted_amount: ''
                  platform_deducted_currency: ''
                  history: []
                  charge_detail:
                    items:
                      - code: BROKER_FEES
                        name: 收费明细
                        fees: []
                    total_amount: '0.00'
                    currency: USD
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      operationId: replace_order
      summary: Modify Order
      x-summary-zh: 修改订单
      description: |
        Modify the parameters of a pending order. Only orders in `NewStatus` or `PartialFilledStatus`
        can be modified.
      x-description-zh: 修改待成交订单的参数。仅 `NewStatus`（已报）或 `PartialFilledStatus`（部分成交）状态的订单可修改。
      tags:
        - Trade Execution & Order Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - order_id
              properties:
                order_id:
                  type: string
                  description: ID of the order to modify (required).
                quantity:
                  type: string
                  nullable: true
                  description: New quantity.
                  pattern: '^([1-9]\d*(\.\d+)?)$'
                price:
                  type: string
                  nullable: true
                  description: New limit price.
                  pattern: '^(0\.\d*[1-9]\d*|[1-9]\d*(\.\d+)?)$'
                trigger_price:
                  type: string
                  nullable: true
                  description: New trigger price (for MIT/LIT orders).
                  pattern: '^(0\.\d*[1-9]\d*|[1-9]\d*(\.\d+)?)$'
                limit_offset:
                  type: string
                  nullable: true
                  description: New limit offset (for LIT orders).
                  pattern: '^(\d*)$|^([0-9]\d*\.?\d*[1-9])$'
                trailing_amount:
                  type: string
                  nullable: true
                  description: New trailing amount (for TSLPAMT/TSMAMT orders).
                  pattern: '^(0\.\d*[1-9]\d*|[1-9]\d*(\.\d+)?)$'
                trailing_percent:
                  type: string
                  nullable: true
                  description: New trailing percentage (for TSMPCT/TSLPPCT orders).
                  pattern: '^(0\.\d*[1-9]\d*|[1-9]\d*(\.\d+)?)$'
                limit_depth_level:
                  type: integer
                  nullable: true
                  description: New limit depth level (for ELO orders).
                trigger_count:
                  type: integer
                  nullable: true
                  description: New trigger count.
                monitor_price:
                  type: string
                  nullable: true
                  description: New monitor price.
                remark:
                  type: string
                  nullable: true
                  maxLength: 255
                  description: Order remark (max 255 characters).
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: cancel_order
      summary: Cancel Order
      x-summary-zh: 撤销订单
      description: |
        Cancel a pending order. Only orders in `NewStatus` or `PartialFilledStatus` can be cancelled.
        After successful cancellation the order status changes to `CanceledStatus`.
      x-description-zh: 撤销待成交订单。仅 `NewStatus`（已报）或 `PartialFilledStatus`（部分成交）状态的订单可撤销，撤销成功后订单状态变更为 `CanceledStatus`（已撤销）。
      tags:
        - Trade Execution & Order Management
      parameters:
        - name: order_id
          in: query
          required: true
          description: ID of the order to cancel.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data: {}
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trade/estimate/buy_limit:
    get:
      operationId: estimate_max_buy_quantity
      summary: Estimate Maximum Buy Quantity
      x-summary-zh: 估算最大可买数量
      description: |
        Estimate the maximum purchasable quantity for a security based on the current account
        balance and margin, given a specific order type and price.
      x-description-zh: 根据当前账户余额和保证金，在指定订单类型和价格条件下，估算某只证券的最大可买数量。
      tags:
        - Trade Execution & Order Management
      parameters:
        - name: symbol
          in: query
          required: true
          description: 'Security symbol (e.g. `AAPL.US`, `700.HK`).'
          schema:
            type: string
            maxLength: 32
            minLength: 4
            pattern: '^([\w.]*\.[A-Za-z][A-Za-z])$'
        - name: order_type
          in: query
          required: true
          description: |
            Order type. One of:
            `LO` (Limit), `ELO` (Enhanced Limit), `MO` (Market), `LIT` (Limit If Touched),
            `MIT` (Market If Touched), `TSLPAMT` (Trailing Stop Limit by Amount),
            `TSMAMT` (Trailing Stop Market by Amount), `TSMPCT` (Trailing Stop Market by Percent),
            `TSLPPCT` (Trailing Stop Limit by Percent), `AO` (Auction), `ALO` (Auction Limit),
            `ODD` (Odd Lot), `SLO` (Special Limit).
          schema:
            type: string
            enum:
              - LO
              - ELO
              - MO
              - LIT
              - MIT
              - TSLPAMT
              - TSMAMT
              - TSMPCT
              - UnknownOrderType
              - AO
              - ALO
              - ODD
              - TSLPPCT
              - SLO
        - name: side
          in: query
          required: true
          description: Order side. One of `Buy`, `Sell`.
          schema:
            type: string
            enum:
              - UnknownSide
              - Buy
              - Sell
        - name: price
          in: query
          required: false
          description: Limit price. Required for limit order types (e.g. `LO`, `LIT`).
          schema:
            type: string
            nullable: true
        - name: currency
          in: query
          required: false
          description: Settlement currency override (e.g. `USD`, `HKD`).
          schema:
            type: string
            nullable: true
        - name: market
          in: query
          required: false
          description: Market override. One of `US`, `HK`, `SH`, `SZ`, `SG`, `AU`, `JP`, `UK`, `DE`.
          schema:
            type: string
            nullable: true
            enum:
              - UnknownMarket
              - DE
              - JP
              - SH
              - SZ
              - UK
              - AU
              - HK
              - SG
              - US
        - name: fractional_shares
          in: query
          required: false
          description: Whether to allow fractional share quantities in the estimate.
          schema:
            type: boolean
            nullable: true
        - name: order_id
          in: query
          required: false
          description: Original order ID when estimating for an order modification scenario.
          schema:
            type: string
            nullable: true
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge max-qty <SYMBOL> --side buy --price <PRICE>
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  cash_max_qty: '0'
                  margin_max_qty: '1859'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trade/order/history:
    get:
      operationId: list_history_orders
      summary: Historical Order
      x-summary-zh: 历史订单查询
      description: |
        Query historical order records with pagination. Supports filtering by time range, symbol,
        market, side, and status.
      x-description-zh: 分页查询历史订单记录，支持按时间范围、标的、市场、方向和状态筛选。
      tags:
        - Trade Execution & Order Management
      parameters:
        - name: start_at
          in: query
          required: false
          description: Query range start time as a Unix timestamp (seconds).
          schema:
            type: integer
            nullable: true
        - name: end_at
          in: query
          required: false
          description: Query range end time as a Unix timestamp (seconds).
          schema:
            type: integer
            nullable: true
        - name: symbol
          in: query
          required: false
          description: 'Filter by security symbol (e.g. `AAPL.US`).'
          schema:
            type: string
            nullable: true
            maxLength: 32
            minLength: 4
            pattern: '^([\w.]*\.[A-Za-z][A-Za-z])$'
        - name: market
          in: query
          required: false
          description: Filter by market. One of `US`, `HK`, `SH`, `SZ`, `SG`, `AU`, `JP`, `UK`, `DE`.
          schema:
            type: string
            nullable: true
            enum:
              - UnknownMarket
              - AU
              - DE
              - HK
              - SH
              - SZ
              - US
              - JP
              - SG
              - UK
        - name: side
          in: query
          required: false
          description: Filter by order side. One of `Buy`, `Sell`.
          schema:
            type: string
            nullable: true
            enum:
              - UnknownSide
              - Buy
              - Sell
        - name: status
          in: query
          required: false
          description: Filter by one or more order statuses.
          schema:
            type: array
            nullable: true
            items:
              type: string
              enum:
                - NotReported
                - VarietiesNotReported
                - FilledStatus
                - WaitToNew
                - ReplacedStatus
                - PartialFilledStatus
                - CanceledStatus
                - ExpiredStatus
                - UnknownOrderStatus
                - RejectedStatus
                - PartialWithdrawal
                - ReplacedNotReported
                - ProtectedNotReported
                - NewStatus
                - WaitToReplace
                - PendingReplaceStatus
                - PendingCancelStatus
                - WaitToCancel
        - name: page
          in: query
          required: false
          description: Page number (1-based).
          schema:
            type: integer
            nullable: true
        - name: size
          in: query
          required: false
          description: Number of records per page.
          schema:
            type: integer
            nullable: true
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge orders --history
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  orders:
                    - order_id: '1220968184320942080'
                      status: FilledStatus
                      stock_name: 苹果
                      quantity: '10'
                      executed_quantity: '10'
                      price: '200.00'
                      executed_price: '199.85'
                      submitted_at: '1770000000'
                      side: Buy
                      symbol: AAPL.US
                      order_type: LO
                      last_done: '199.85'
                      trigger_price: ''
                      msg: ''
                      tag: Normal
                      time_in_force: Day
                      expire_date: '2026-02-01'
                      updated_at: '1770000600'
                      trigger_at: '0'
                      trailing_amount: ''
                      trailing_percent: ''
                      limit_offset: ''
                      trigger_status: DEACTIVE
                      outside_rth: RTH_ONLY
                      currency: USD
                      remark: ''
                      limit_depth_level: 0
                      trigger_count: 0
                      monitor_price: ''
                  has_more: false
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trade/execution/today:
    get:
      operationId: list_today_executions
      summary: Today's Execution
      x-summary-zh: 当日成交查询
      description: |
        Query today's execution (fill) records. Supports filtering by order ID and symbol.
      x-description-zh: 查询当日成交（成交明细）记录，支持按订单 ID 和标的筛选。
      tags:
        - Trade Execution & Order Management
      parameters:
        - name: order_id
          in: query
          required: false
          description: Filter by order ID.
          schema:
            type: string
            nullable: true
        - name: symbol
          in: query
          required: false
          description: 'Filter by security symbol (e.g. `NVDA.US`).'
          schema:
            type: string
            nullable: true
            maxLength: 32
            minLength: 4
            pattern: '^([\w.]*\.[A-Za-z][A-Za-z])$'
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge executions
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  trades:
                    - trade_id: '218942971868942337'
                      order_id: '218942971868942336'
                      symbol: NVDA.US
                      price: '177.50'
                      quantity: '10'
                      trade_done_at: '1774330500'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /trade/order/today:
    get:
      operationId: list_today_orders
      summary: Today's Order
      x-summary-zh: 当日订单查询
      description: |
        Query today's orders with support for multi-condition filtering.
      x-description-zh: 查询当日订单，支持多条件组合筛选。
      tags:
        - Trade Execution & Order Management
      parameters:
        - name: symbol
          in: query
          required: false
          description: 'Filter by security symbol (e.g. `NVDA.US`).'
          schema:
            type: string
            nullable: true
            maxLength: 32
            minLength: 4
            pattern: '^([\w.]*\.[A-Za-z][A-Za-z])$'
        - name: market
          in: query
          required: false
          description: Filter by market. One of `US`, `HK`, `SH`, `SZ`, `SG`, `AU`, `JP`, `UK`, `DE`.
          schema:
            type: string
            nullable: true
            enum:
              - UnknownMarket
              - DE
              - SH
              - US
              - AU
              - HK
              - JP
              - SZ
              - SG
              - UK
        - name: side
          in: query
          required: false
          description: Filter by order side. One of `Buy`, `Sell`.
          schema:
            type: string
            nullable: true
            enum:
              - UnknownSide
              - Buy
              - Sell
        - name: status
          in: query
          required: false
          description: Filter by one or more order statuses.
          schema:
            type: array
            nullable: true
            items:
              type: string
              enum:
                - UnknownOrderStatus
                - VarietiesNotReported
                - WaitToCancel
                - NotReported
                - ReplacedNotReported
                - NewStatus
                - PendingReplaceStatus
                - RejectedStatus
                - CanceledStatus
                - PartialWithdrawal
                - FilledStatus
                - WaitToReplace
                - PartialFilledStatus
                - PendingCancelStatus
                - ExpiredStatus
                - ProtectedNotReported
                - WaitToNew
                - ReplacedStatus
        - name: order_id
          in: query
          required: false
          description: Filter by order ID.
          schema:
            type: string
            nullable: true
        - name: page
          in: query
          required: false
          description: Page number (1-based).
          schema:
            type: integer
            nullable: true
        - name: size
          in: query
          required: false
          description: Number of records per page.
          schema:
            type: integer
            nullable: true
      x-codeSamples:
        - lang: Shell
          label: CLI
          source: |
            longbridge orders
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                code: 0
                message: success
                data:
                  orders:
                    - order_id: '1220968184320942080'
                      status: CanceledStatus
                      stock_name: 英伟达
                      quantity: '10'
                      executed_quantity: '0'
                      price: ''
                      executed_price: '0'
                      submitted_at: '1774330299'
                      side: Buy
                      symbol: NVDA.US
                      order_type: MIT
                      last_done: ''
                      trigger_price: '177.88'
                      msg: ''
                      tag: Normal
                      time_in_force: Day
                      expire_date: '2026-03-24'
                      updated_at: '1774330401'
                      trigger_at: '0'
                      trailing_amount: ''
                      trailing_percent: ''
                      limit_offset: ''
                      trigger_status: DEACTIVE
                      outside_rth: RTH_ONLY
                      currency: USD
                      remark: ''
                      limit_depth_level: 0
                      trigger_count: 0
                      monitor_price: ''
                  has_more: false
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://openapi.longbridge.com/oauth2/authorize
          tokenUrl: https://openapi.longbridge.com/oauth2/token
          scopes:
            openapi: Full OpenAPI access
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          description: Error code.
        message:
          type: string
          description: Error message.
        data:
          nullable: true
          description: Always `null` for error responses.
    Order:
      type: object
      description: Standard order object returned in order list endpoints.
      properties:
        order_id:
          type: string
          nullable: true
          description: Order ID.
        status:
          type: string
          nullable: true
          description: Order status (e.g. `NewStatus`, `FilledStatus`, `CanceledStatus`).
        stock_name:
          type: string
          nullable: true
          description: Security display name.
        quantity:
          type: string
          nullable: true
          description: Ordered quantity.
        executed_quantity:
          type: string
          nullable: true
          description: Filled quantity.
        price:
          type: string
          nullable: true
          description: Limit price (empty for market orders).
        executed_price:
          type: string
          nullable: true
          description: Average fill price.
        submitted_at:
          type: string
          nullable: true
          description: Unix timestamp (seconds) when the order was submitted.
        side:
          type: string
          nullable: true
          description: Order side. One of `Buy`, `Sell`.
        symbol:
          type: string
          nullable: true
          description: Security symbol.
        order_type:
          type: string
          nullable: true
          description: Order type (e.g. `LO`, `MO`, `MIT`).
        last_done:
          type: string
          nullable: true
          description: Last execution price.
        trigger_price:
          type: string
          nullable: true
          description: Trigger price for MIT/LIT orders.
        msg:
          type: string
          nullable: true
          description: Order message or rejection reason.
        tag:
          type: string
          nullable: true
          description: Order tag (e.g. `Normal`, `GTC`).
        time_in_force:
          type: string
          nullable: true
          description: Time-in-force (e.g. `Day`, `GTC`, `GTD`).
        expire_date:
          type: string
          nullable: true
          description: Order expiry date in `YYYY-MM-DD` format (for GTD orders).
        updated_at:
          type: string
          nullable: true
          description: Unix timestamp (seconds) of the last status update.
        trigger_at:
          type: string
          nullable: true
          description: Unix timestamp (seconds) when the trigger condition was met.
        trailing_amount:
          type: string
          nullable: true
          description: Trailing stop amount.
        trailing_percent:
          type: string
          nullable: true
          description: Trailing stop percentage.
        limit_offset:
          type: string
          nullable: true
          description: Limit offset for LIT orders.
        trigger_status:
          type: string
          nullable: true
          description: Trigger status (e.g. `ACTIVE`, `DEACTIVE`, `TRIGGERED`).
        outside_rth:
          type: string
          nullable: true
          description: Extended-hours setting. One of `RTH_ONLY`, `ANY_TIME`, `OVERNIGHT`.
        currency:
          type: string
          nullable: true
          description: Settlement currency.
        remark:
          type: string
          nullable: true
          description: Order remark.
        limit_depth_level:
          type: integer
          nullable: true
          description: Limit depth level (for ELO orders).
        trigger_count:
          type: integer
          nullable: true
          description: Number of times the trigger has fired.
        monitor_price:
          type: string
          nullable: true
          description: Monitor price for conditional orders.
