:root,
.lb-css-variables {
  --neutral-10: #f5f6f6;
  --neutral-20: #fafafa;
  --neutral-30: #ffffff;
  --neutral-40: #f5f6f6;
  --neutral-50: #f5f6f6;
  --neutral-60: #eaebec;
  --neutral-70: #c7cacc;
  --neutral-80: #afb3b6;
  --neutral-90: #82888d;
  --neutral-100: #464f56;
  --neutral-11: #000000;
  --neutral-12: #37a0ff;
  --neutral-13: #ffffff;
  --neutral-14: #f5f6f6;
  --neutral-15: #1f2a32;
  --neutral-16: #ffffff;
  --neutral-17: #ffffff;
  --neutral-18: #eaebec;
  --cyan-5: #f2fbfa;
  --cyan-10: #e5f8f4;
  --cyan-11: #effaf8;
  --cyan-20: #ccf1eb;
  --cyan-30: #b2eae0;
  --cyan-40: #99e3d7;
  --cyan-50: #7fdccc;
  --cyan-60: #66d5c2;
  --cyan-70: #4cceb8;
  --cyan-80: #33c7ae;
  --cyan-90: #19c0a4;
  --cyan-100: #00b99a;
  --orange-5: #fff8f5;
  --orange-10: #ffede5;
  --orange-11: #fff4ef;
  --orange-20: #ffdccc;
  --orange-30: #ffcab2;
  --orange-40: #ffb999;
  --orange-50: #ffa77f;
  --orange-60: #ff9666;
  --orange-70: #ff844c;
  --orange-80: #ff7333;
  --orange-90: #ff6119;
  --orange-100: #ff5000;
  --gold-3: #fff6ea;
  --gold-5: #fffaf3;
  --gold-10: #fff6ea;
  --gold-20: #fff1dd;
  --gold-30: #ffeacb;
  --gold-40: #ffe4ba;
  --gold-50: #ffdda9;
  --gold-60: #ffd698;
  --gold-70: #ffcf86;
  --gold-80: #ffc975;
  --gold-90: #ffc164;
  --gold-100: #ffbb53;
  --blue-5: #fbfdff;
  --blue-10: #e2eefa;
  --blue-11: #1890ff;
  --blue-12: #e2eefa;
  --blue-20: #cde5fb;
  --blue-30: #b5d9fb;
  --blue-40: #a0d0fc;
  --blue-35: #b5d9fb;
  --blue-50: #88c4fc;
  --blue-60: #72bafd;
  --blue-70: #5baffd;
  --blue-80: #45a5fe;
  --blue-90: #2e9afe;
  --blue-100: #1890ff;
  --brand-5: #f5faff;
  --brand-10: #ebf5ff;
  --brand-20: #d7ecff;
  --brand-30: #c3e2ff;
  --brand-40: #afd9ff;
  --brand-50: #9bcfff;
  --brand-60: #87c6ff;
  --brand-70: #73bcff;
  --brand-80: #5fb3ff;
  --brand-90: #4ba9ff;
  --brand-100: #37a0ff;
  --geek-blue-5: #f6f8ff;
  --geek-blue-10: #ecf2ff;
  --geek-blue-20: #dae6ff;
  --geek-blue-30: #c7d9ff;
  --geek-blue-40: #b5cdff;
  --geek-blue-50: #a3c0ff;
  --geek-blue-60: #91b3ff;
  --geek-blue-70: #7ea6ff;
  --geek-blue-80: #6c9aff;
  --geek-blue-90: #598dff;
  --geek-blue-100: #4781ff;

  --tip-5: #8ed59e;
  --tip-10: #1eac3e;
  --tip-15: #c9df91;
  --tip-20: #95c123;
  --tip-25: #ffe37f;
  --tip-30: #ffc700;
  --tip-35: #ffc895;
  --tip-40: #ff922d;
  --tip-45: #ff9f9f;
  --tip-50: #ff4040;
  --tip-55: #ef8292;
  --tip-60: #e00626;
  --bg-color: #f5f6f6;
  --front-bg-color-3: #fcfcfc;
  --front-bg-color-2: #fafafa;
  --front-bg-color-1: #ffffff;
  --front-bg-color: #f5f6f6;
  --tag-bg-color: #f5f6f6;
  --line-color: #eaebec;
  --border-color: #eaebec;
  --tag-border-color: #c7cacc;
  --text-color-3: #afb3b6;
  --text-color-2: #82888d;
  --text-color-1-supplement: #464f56;
  --text-color-1: #000000;
  --link-text-color: #37a0ff;
  --environment-text-color-3: #ffffff;
  --environment-text-color-2: #f5f6f6;
  --environment-text-color-1: #1f2a32;
  --brand-color: #37a0ff;
  --brand-color-2: #ff4040;
  --brand-color-3: #ffc700;
  --up-color: #ff5000;
  --down-color: #00b99a;
  --list-bg-color: #ffffff;
  --home-bg-color: #f8f9fa;
  --home-text-color: #000000;
  --home-bg-color-1: #ffffff;
}

.dark {
  --neutral-10: #07121c;
  --neutral-20: #141f28;
  --neutral-30: #1a252e;
  --neutral-40: #2a343c;
  --neutral-50: #2a343c;
  --neutral-60: #384149;
  --neutral-70: #424b53;
  --neutral-80: #61686e;
  --neutral-90: #82888d;
  --neutral-100: #cfd1d3;
  --neutral-11: #ffffff;
  --neutral-12: #37a0ff;
  --neutral-13: #ffffff;
  --neutral-14: #f5f6f6;
  --neutral-15: #1f2a32;
  --neutral-16: #61686e;
  --neutral-17: #2a343c;
  --neutral-18: #2a343c;
  --cyan-5: #293838;
  --cyan-10: #273f3c;
  --cyan-11: #598583;
  --cyan-20: #144243;
  --cyan-30: #12514e;
  --cyan-40: #0f6059;
  --cyan-50: #0c6f63;
  --cyan-60: #0a7d6e;
  --cyan-70: #078d79;
  --cyan-80: #059b84;
  --cyan-90: #02aa8f;
  --cyan-100: #00b99a;
  --orange-5: #27272b;
  --orange-10: #312929;
  --orange-11: #7e6c66;
  --orange-20: #472d24;
  --orange-30: #5f3120;
  --orange-40: #75361b;
  --orange-50: #8c3a16;
  --orange-60: #a33e12;
  --orange-70: #ba430d;
  --orange-80: #d14709;
  --orange-90: #e84b04;
  --orange-100: #ff5000;
  --gold-3: #272d30;
  --gold-5: #272d30;
  --gold-10: #313431;
  --gold-20: #474235;
  --gold-30: #5f5139;
  --gold-40: #75613c;
  --gold-50: #8c7040;
  --gold-60: #a37e44;
  --gold-70: #ba8e47;
  --gold-80: #d19d4b;
  --gold-90: #e8ab4f;
  --gold-100: #ffbb53;
  --blue-35: #154979;
  --blue-5: #192d3d;
  --blue-10: #172733;
  --blue-20: #153451;
  --blue-30: #143e64;
  --blue-40: #154979;
  --blue-50: #15548d;
  --blue-60: #165fa2;
  --blue-70: #156ab5;
  --blue-80: #1674ca;
  --blue-90: #167fde;
  --blue-100: #178af3;
  --blue-11: #e2eefa;
  --blue-12: #153451;
  --brand-5: #1b2b38;
  --brand-10: #1d3143;
  --brand-20: #1f3d57;
  --brand-30: #23496d;
  --brand-40: #255681;
  --brand-50: #286296;
  --brand-60: #2b6eab;
  --brand-70: #2e7bc0;
  --brand-80: #3187d5;
  --brand-90: #3493ea;
  --brand-100: #37a0ff;
  --geek-blue-5: #1c2938;
  --geek-blue-10: #1e2e43;
  --geek-blue-20: #223757;
  --geek-blue-30: #27406d;
  --geek-blue-40: #2b4a81;
  --geek-blue-50: #305396;
  --geek-blue-60: #355bab;
  --geek-blue-70: #3965c0;
  --geek-blue-80: #3e6ed5;
  --geek-blue-90: #4277ea;
  --geek-blue-100: #4781ff;
  --tip-5: #1b6835;
  --tip-10: #1eac3e;
  --tip-15: #567228;
  --tip-20: #95c123;
  --tip-25: #8c7517;
  --tip-30: #ffc700;
  --tip-35: #8c5b2c;
  --tip-40: #ff922d;
  --tip-45: #8c3237;
  --tip-50: #ff4040;
  --tip-55: #7c1529;
  --tip-60: #e00626;

  --front-bg-color-3: #0a1014;
  --front-bg-color-2: #141f28;
  --front-bg-color-1: #1a252e;
  --front-bg-color: #2a343c;
  --tag-bg-color: #2a343c;
  --line-color: #384149;
  --border-color: #384149;
  --tag-border-color: #424b53;
  --text-color-3: #656466;
  --text-color-2: #82888d;
  --text-color-1-supplement: #cfd1d3;
  --text-color-1: #ffffff;
  --link-text-color: #37a0ff;
  --environment-text-color-3: #ffffff;
  --environment-text-color-2: #f5f6f6;
  --environment-text-color-1: #1f2a32;
  --brand-color: #37a0ff;
  --brand-color-2: #ff4040;
  --brand-color-3: #ffc700;
  --up-color: #ff5000;
  --down-color: #00b99a;
  --list-bg-color: #2a343c;
  --home-bg-color: #191e25;
  --home-text-color: #ffffff;
  --home-bg-color-1: #1b1b1f;
}
