.markdown.theme-doc-markdown {
  table {
    display: table;
    width: 100%;
    thead,
    th,
    tr,
    td {
      background-color: transparent;
    }
    thead {
      tr {
        border-bottom: none;
      }
    }
  }
  h1 {
    --ifm-h1-font-size: 32px;
    &:first-child  {
      --ifm-h1-font-size: 32px;
    }
  }
  h2 {
    --ifm-h2-font-size: 24px;
  }
  .markdown-img-container {
    text-align: center;
    img {
      max-height: 50vh;
      cursor: zoom-in;
    }
  }
  
}