.navbar {
  --ifm-navbar-padding-horizontal: 20px;
  --ifm-navbar-padding-vertical: 12px;
  @media screen and (min-width: 768px) {
    --ifm-navbar-padding-horizontal: 40px;
  }

  .navbar__toggle {
    @apply mr-4 hover:bg-gray-100 active:bg-gray-200 rounded p-1;

    svg {
      @apply w-6 h-6;
    }
  }

  .navbar__brand {
    .navbar__logo {
      height: 23px;

      img {
        width: 120px;
      }
    }
    & + .navbar__item.navbar__link {
      margin-left: 208px;
    }
    .navbar__title {
      @apply hidden;
    }
  }
  .navbar__items {
    .navbar__item {
      --ifm-navbar-link-hover-color: #37a0ff;
      padding: 0;
      font-size: 16px;
      font-weight: bold;
    }
    &:first-child {
      .navbar__item {
        margin-right: 52px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &:last-child {
      .navbar__item {
        font-size: 14px;
        font-weight: normal;
        &:not(:first-child) {
          margin-left: 20px;
        }
      }
    }
  }
}
.navbar-sidebar {
  .hidden-in-mobile-sidebar {
    display: none !important;
  }
}
