:local(.container) {
  --divide-border-color: #E2E3E4;
  --ifm-tabs-padding-vertical: 12px;
  @apply mx-auto relative p-5;
  :global(.tabs) {
    border-bottom: 0.5px solid var(--divide-border-color) !important;
    :global(.tabs__item) {
      min-width: 90px;
      &:hover {
        background: none;
        color: var(--ifm-tabs-color-active);
      }
    }
  }
  @screen md {
    @apply py-7 px-40 max-w-[1920px];
    @screen 2xl {
      @apply px-[380px];
    }
  }
} 