:local(.container) {
  --divide-border-color: #e2e3e4;
  --ifm-tabs-padding-vertical: 12px;
  @apply relative p-5;
  :global(.tabs) {
    @apply mb-8;
    border-bottom: 0.5px solid var(--divide-border-color) !important;
    :global(.tabs__item) {
      @apply justify-center py-2 px-6 text-lg;
      &:hover {
        background: none;
        color: var(--ifm-tabs-color-active);
      }
    }
  }
  @apply max-w-full;
  @screen md {
    @apply py-7 px-40;
  }
  @screen 2xl {
    @apply px-[380px];
  }
}
