@import './components/navbar.scss';
@import 'react-photo-view/dist/react-photo-view.css';
@import './components/markdown.scss';

:root {
  --ifm-color-primary: #37a0ff;
  --ifm-menu-color: #202020;
  --ifm-menu-color-background-active: #f0f8ff;
  --ifm-menu-color-active: #37a0ff;
  --ifm-toc-border-color: #c1cedb78;
  --ifm-global-spacing: 2em;
  --ifm-alert-padding-vertical: 10px;
  --ifm-alert-padding-horizontal: 16px;
  --ifm-breadcrumb-separator-size: 0.7em;
  --ifm-breadcrumb-separator: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"/></svg>');
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 11.828l-2.828 2.829-1.415-1.414L12 9l4.243 4.243-1.415 1.414L12 11.828z"/></svg>');
}
@tailwind utilities;
body {
  color: #222;
}

.navbar__items--right {
  .navbar-item--icon {
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left: 28px !important;
  }

  .navbar-item--discussion {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M16.8 19L14 22.5L11.2 19H6C5.44772 19 5 18.5523 5 18V7.10256C5 6.55028 5.44772 6.10256 6 6.10256H22C22.5523 6.10256 23 6.55028 23 7.10256V18C23 18.5523 22.5523 19 22 19H16.8ZM2 2H19V4H3V15H1V3C1 2.44772 1.44772 2 2 2Z'%3E%3C/path%3E%3C/svg%3E");
  }

  .navbar-item--github {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M12.001 2C6.47598 2 2.00098 6.475 2.00098 12C2.00098 16.425 4.86348 20.1625 8.83848 21.4875C9.33848 21.575 9.52598 21.275 9.52598 21.0125C9.52598 20.775 9.51348 19.9875 9.51348 19.15C7.00098 19.6125 6.35098 18.5375 6.15098 17.975C6.03848 17.6875 5.55098 16.8 5.12598 16.5625C4.77598 16.375 4.27598 15.9125 5.11348 15.9C5.90098 15.8875 6.46348 16.625 6.65098 16.925C7.55098 18.4375 8.98848 18.0125 9.56348 17.75C9.65098 17.1 9.91348 16.6625 10.201 16.4125C7.97598 16.1625 5.65098 15.3 5.65098 11.475C5.65098 10.3875 6.03848 9.4875 6.67598 8.7875C6.57598 8.5375 6.22598 7.5125 6.77598 6.1375C6.77598 6.1375 7.61348 5.875 9.52598 7.1625C10.326 6.9375 11.176 6.825 12.026 6.825C12.876 6.825 13.726 6.9375 14.526 7.1625C16.4385 5.8625 17.276 6.1375 17.276 6.1375C17.826 7.5125 17.476 8.5375 17.376 8.7875C18.0135 9.4875 18.401 10.375 18.401 11.475C18.401 15.3125 16.0635 16.1625 13.8385 16.4125C14.201 16.725 14.5135 17.325 14.5135 18.2625C14.5135 19.6 14.501 20.675 14.501 21.0125C14.501 21.275 14.6885 21.5875 15.1885 21.4875C19.259 20.1133 21.9999 16.2963 22.001 12C22.001 6.475 17.526 2 12.001 2Z'%3E%3C/path%3E%3C/svg%3E");
    height: 24px;
    width: 24px;
  }
}

.theme-doc-sidebar-menu {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  padding: 20px;

  .menu__link {
    border-radius: 50px;
  }
}

.theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible > .menu-link {
  font-weight: bold;
}

.menu__link--sublist-caret:after {
  width: 0.8rem;
  height: 0.8rem;
  min-width: 0.8em;
  background-size: 1.5rem 1.5rem;
}

.theme-doc-toc-desktop {
  top: 130px !important;

  .table-of-contents {
    border-left: 0;
    @apply text-sm;
  }
}

.container {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  max-width: 1200px;
}

.breadcrumbs {
  @apply flex items-center;
}

.breadcrumbs__item {
  .breadcrumbs__link {
    border-radius: 0;
    background-color: transparent !important;
    padding: 0 !important;
    font-size: 14px !important;
  }

  &::after {
    margin: 0 10px !important;
    opacity: 0.4 !important;
  }

  &--active {
    .breadcrumbs__link {
      color: #333 !important;
    }
  }
}

/** Tabs **/
.tabs-container {
  .tabs {
    @apply p-0 m-0 space-x-4 border;

    &__item {
      @apply text-sm font-medium leading-none py-2 px-0;

      &--active {
        @apply text-blue-500 border-b-2;
      }

      &:hover {
        background: unset;
      }
    }
  }
}

/* Pagination */
.pagination-nav__link {
  @apply py-4 px-6 hover:bg-gray-50 hover:border-gray-300;

  .pagination-nav__sublabel {
    @apply hidden;
  }
  .pagination-nav__label {
    @apply font-normal text-base text-gray-800;
  }
}

.theme-edit-this-page {
  @apply text-sm text-gray-600;
}

.github-container {
  height: 36px;
  a {
    margin-top: 5px;
  }
}
