@import './components/navbar.scss';
@import 'react-photo-view/dist/react-photo-view.css';
@import './components/markdown.scss';

:root {
  --ifm-color-primary: #37a0ff;
  --ifm-menu-color: #202020;
  --ifm-menu-color-background-active: #f0f8ff;
  --ifm-menu-color-active: #37a0ff;
  --ifm-toc-border-color: #c1cedb78;
  --ifm-global-spacing: 2em;
  --ifm-alert-padding-vertical: 10px;
  --ifm-alert-padding-horizontal: 16px;
  --ifm-breadcrumb-separator-size: 0.7em;
  --ifm-breadcrumb-separator: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="none" d="M0 0h24v24H0z"/><path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"/></svg>');
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 11.828l-2.828 2.829-1.415-1.414L12 9l4.243 4.243-1.415 1.414L12 11.828z"/></svg>');
}
@tailwind utilities;
body {
  color: #222;
}

.theme-doc-sidebar-menu {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  padding: 20px;

  .menu__link {
    border-radius: 50px;
  }
}

.theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible > .menu-link {
  font-weight: bold;
}

.menu__link--sublist-caret:after {
  width: 0.8rem;
  height: 0.8rem;
  min-width: 0.8em;
  background-size: 1.5rem 1.5rem;
}

.theme-doc-toc-desktop {
  top: 130px !important;

  .table-of-contents {
    border-left: 0;
    @apply text-sm;
  }
}

.container {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  max-width: 1200px;
}

.breadcrumbs {
  @apply flex items-center;
}

.breadcrumbs__item {
  .breadcrumbs__link {
    border-radius: 0;
    background-color: transparent !important;
    padding: 0 !important;
    font-size: 14px !important;
  }

  &::after {
    margin: 0 10px !important;
    opacity: 0.4 !important;
  }

  &--active {
    .breadcrumbs__link {
      color: #333 !important;
    }
  }
}

/** Tabs **/
.tabs-container {
  .tabs {
    @apply p-0 m-0 space-x-4 border;

    &__item {
      @apply text-sm font-medium leading-none py-2 px-0;

      &--active {
        @apply text-blue-500 border-b-2;
      }

      &:hover {
        background: unset;
      }
    }
  }
}

/* Pagination */
.pagination-nav__link {
  @apply py-4 px-6 hover:bg-gray-50 hover:border-gray-300;

  .pagination-nav__sublabel {
    @apply hidden;
  }
  .pagination-nav__label {
    @apply font-normal text-base text-gray-800;
  }
}

.theme-edit-this-page {
  @apply text-sm text-gray-600;
}
