@import './components/navbar.scss';
@import 'react-photo-view/dist/react-photo-view.css';
@import './components/markdown.scss';

:root {
  --ifm-color-primary: #37a0ff;
  --ifm-menu-color: #202020;
  --ifm-menu-color-background-active: #f0f8ff;
  --ifm-menu-color-active: #37a0ff;
  --ifm-global-spacing: 2em;
  --ifm-alert-padding-vertical: 10px;
  --ifm-alert-padding-horizontal: 16px;
}
@tailwind utilities;
body {
  color: #222;
}

.theme-doc-sidebar-menu {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  padding: 20px;

  .menu__link {
    border-radius: 50px;
  }
}

.theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible > .menu-link {
  font-weight: bold;
}

.menu__link--sublist-caret:after {
  width: 0.8rem;
  height: 0.8rem;
  min-width: 0.8em;
  background-size: 1.5rem 1.5rem;
}

.theme-doc-toc-desktop {
  top: 130px !important;

  .table-of-contents {
    border-left: 0;
    @apply text-sm;
  }
}

.container {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  max-width: 1200px;
}

.breadcrumbs__item {
  .breadcrumbs__link {
    border-radius: 0;
    background-color: transparent !important;
    padding: 0 !important;
    font-size: 14px !important;
  }

  &::after {
    margin: 0 10px !important;
    opacity: 0.4 !important;
  }

  &--active {
    .breadcrumbs__link {
      color: #333 !important;
    }
  }
}

/** Tabs **/
.tabs-container {
  .tabs {
    @apply pl-0 -mb-[5px] -mt-[5px];
    &__item {
      @apply text-sm font-normal p-[2px];

      & + .tabs__item {
        @apply ml-[10px];
      }

      &:hover {
        background: unset;
      }
    }
  }
}
